body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 250px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.day-button {
    width: 120px;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    outline: 1px solid black;
}

.day-button:hover {
    transform: scale(1.1);
}

#monday { background: #3f7a7f;}
#tuesday { background: #74a3fb;}
#wednesday { background: #9674fb;}
#thursday { background: #338037;}
#friday { background: #fce32e;}
#saturday { background: #dd9d28;}
#sunday { background: #dd28ba; }

.box {
    width: 450px;
    height: 450px;
    position: absolute;
    right: 35%;
    border: 10px solid transparent;
    transition: 
    top 1s ease-in-out, opacity 1s ease-in-out, border-color 1s ease-in-out, background-color 1s ease-in-out;
}


